<div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <img class="img-fluid" style="max-width:170px; margin-top: -10px;" src="assets/images/logo-apolux.png">
      </a>
    </div>
    <div class="collapse navbar-collapse align-middle" id="myNav">
      <ul class=" nav navbar-nav pull-right">
        <li><a (click)="scrollTo('portfolio')" class="page-scroll">Portfólio</a></li>
        <li><a (click)="scrollTo('lumi-projects')" class="page-scroll">Projetos Luminotécnicos</a></li>
        <li><a (click)="scrollTo('contact')" class="page-scroll">Contato</a></li>
      </ul>
    </div>
  </div>
</div>


<section class="banner">
  <div class="container-fluid">
    <h3>Há 10 anos iluminando o Brasil</h3>
    <p> Uma nova marca. Uma década de experiência.<br /> </p>
  </div>
</section>

<div class="abt" id="about">
  <div class="jumbotron">
    <div class="container-fluid">
      <h3>Temos tudo que você precisa</h3>
      <p>A Apolux oferece o que há de mais inovador e sustentável do mercado. Levando economia e sofisticação para os
        seus projetos. Trabalhamos com distribuição autorizada das marcas mais bem conceituadas no ramo de iluminação.
      </p>
      <!-- <a href="#portfolio" class="btn btn-default">Confira!</a> -->
    </div>
  </div>
</div>
<!--End ofAbout-->
<div class="container">
  <div class="col-md-12">
    <div class="col-md-4 text-center">
      <img class="logo" src="assets/images/iluctron.png">
    </div>
    <div class="col-md-4 text-center">
      <img class="logo" src="assets/images/ledvance.png">
    </div>
    <div class="col-md-4 text-center">
      <img class="logo" src="assets/images/philips.png">
    </div>
  </div>
</div>
<!--PortFolio-->

<div class="no-padding text-center" id="portfolio">
  <div class="container-fluid">
    <h1>Portfólio</h1>
  </div>

  <div class="container-fluid">
    <div class="row no-gutter">
      <div class=" col-6 col-lg-4 col-sm-6">
        <img src="assets/images/port1.jpg" class="img-thumbnail" alt="Project-1" width="100%" height="auto">
      </div>
      <div class="col-6 col-lg-4 col-sm-6">
        <img src="assets/images/port6.jpg" alt="Project-1" width="100%" height="auto">
      </div>
      <div class="col-6 col-lg-4 col-sm-6">
        <img src="assets/images/port3.jpg" class="img-thumbnail" alt="Project-1" width="100%" height="auto">
      </div>
    </div>

    <div class="row no-gutter">
      <div class=" col-6 col-lg-4 col-sm-6">
        <img src="assets/images/port4.jpg" alt="Project-1" width="100%" height="auto">
      </div>
      <div class="col-6 col-lg-4 col-sm-6">
        <img src="assets/images/port2.jpg" class="img-thumbnail" alt="Project-1" width="100%" height="auto">
      </div>
      <div class="col-6 col-lg-4 col-sm-6">
        <img src="assets/images/port5.jpg" class="img-thumbnail" alt="Project-1" width="100%" height="auto">
      </div>
    </div>
  </div>
</div>
<!--End of Portfolio-->

<div class="contact" id="lumi-projects">
  <div class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h1>Departamento de projetos luminotécnicos</h1>
          <p class="my-font">A Apolux conta um um departamento exclusivo de projetos luminotecnicos, oferecendo um
            atendimento personalizado com o nosso projetista. Entre em contato conosco para maiores informações.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="proj-banner">
</section>
<!--End Of Contact-->

<footer class="footer" id="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h3>Sobre a página</h3>
        <p>Feita por: Wagner Buzinari</p>

      </div>
      <div class="col-sm-4 text-center">
        <h3>Contato
          <i class="fa fa-phone fa-1x sr-contact"></i>
        </h3>
        <p>(21) 3030-1245</p>
        <p>(21) 96832-9170</p>
      </div>
      <div class="col-sm-4 text-center">
        <h3>Nossas Redes</h3>
        <ul class="list-icon">

          <li><a href="https://www.linkedin.com/company/apolux-led"><i id="social-fb"
                class="fa fa-linkedin fa-3x social"></i></a></li>
          <li><a href="https://www.instagram.com/apoluxled"><i id="social-fb"
                class="fa fa-instagram fa-3x social"></i></a></li>
          <li><a href="https://www.facebook.com/apoluxled"><i id="social-fb"
                class="fa fa-facebook-square fa-3x social"></i></a></li>
          <li><a href="mailto: wagnerpaz@apolux.com.br"><i id="social-em"
                class="fa fa-envelope-square fa-3x social"></i></a>
          </li>
          <li><a href="https://api.whatsapp.com/send?phone=21968329170&text=Olá."><i id="social-em" class="fa fa-whatsapp fa-3x social"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>



<router-outlet></router-outlet>